input:invalid {
  border: 2px solid red;
  background-color: #ffe6e6;
}

input:valid {
  border: 2px solid green;
  background-color: #e6ffe6;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th, td {
  border: 1px solid #999;
  padding: 10px;
  text-align: center;
  height: 80px;
}

.theory {
  background-color: #b2fab4; /* green */
}

.lab {
  background-color: #add8e6; /* blue */
}

.makeup {
  background-color: #fff59d; /* yellow */
}
